* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  width: 800px;
}
button{
  display: flex;
  padding: 15px;
  border: 2px solid black;
  border-radius: 3px;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  background: teal;
  color: white;
  font-size: large;
}
.post__btns {
  display: flex;
}
